body {
    background-color: burlywood;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;

}

h1 {
    text-align: center;
}


h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

ol {
    text-align: left;
}